# ==========================================
# 🔒 Archivos sensibles
# ==========================================
**/.env
**/.env.*
!**/.env.example

# Credenciales AWS
**/aws-credentials
**/*credentials*.json

# ==========================================
# 🐍 Python (Flask, Django, FastAPI)
# ==========================================
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.venv/
**/venv/
**/ENV/
**/env/
**/.Python
**/pip-log.txt
**/pip-delete-this-directory.txt
**/*.egg-info/
**/dist/
**/build/

# ==========================================
# ☕ Java (Spring Boot)
# ==========================================
**/target/
**/.idea/
**/*.iml
**/.mvn/
**/mvnw
**/mvnw.cmd
**/.classpath
**/.project
**/.settings/

# ==========================================
# 🟢 Node.js (Express)
# ==========================================
**/node_modules/
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/.npm

# ==========================================
# 🐳 Docker
# ==========================================
**/.dockerignore

# ==========================================
# 💻 IDEs y Editores
# ==========================================
**/.vscode/
**/.DS_Store
**/*.swp
**/*.swo
**/*~

# ==========================================
# 📊 Logs
# ==========================================
**/*.log
**/logs/